<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iglesia Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-content mode ="ios">
    <ion-list>
      <div padding>
        <ion-button expand="block" (click)="login()">Login</ion-button>
        <ion-button expand="block" (click)="register()">Register</ion-button>
      </div>
    </ion-list>
  </ion-card-content>
</ion-content>


